In [ ]:
# variables

In [ ]:
apple = 10 
banana = 20 
grapes = 30

In [ ]:
apple + banana

30

In [ ]:
grapes = 30

2 kgs of apple + 3 kgs grapes + 1 kg banana

In [ ]:
"The total cost of fruit = ? "

In [ ]:
input("what is your name?")

'Namika'

In [ ]:
res = input("what is your name ")

In [ ]:
print(res)

Nimish

In [ ]:
favcolur =  input (" what is your favourite colour")

In [ ]:
food = input ( " Tell me your favourite food ")

My Name is Nimish , My fav colour is <colour> and I love <foodname>

In [ ]:
print("My name is " + res +"\n"+ " " + "My Fav Colour " + favcolur  + " I love" + food)

My name is Nimish
 My Fav Colour Pink I lovePizza

In [ ]:

Generate Club Names 

you will ask sports 
name of best friend 
name the pet 

Tennis 
Sanjay 
Sathu 

You can name your  Sports Club  = SanjaySathu Tennis Club 
SathuSanjay TEnnis Club 
SanSat Tennis Club .

SyntaxError: invalid syntax (3893406505.py, line 1)

marks = [ 45, 44, 36 ,35, 60]

In [ ]:
marks = [ 45, 44, 36 ,35, 60]

elements of list -> Marks 
len( marks )

In [ ]:
p = len(marks )

In [ ]:
print(p)

5

In [ ]:
marks [0]

45

In [ ]:
marks [1]

44

number of students in a grade of school across 6 section .

Make a list with the count of students in each grade .

Grade A   = 50 , Grade b = 35 , Grade C = 40 , GRade D = 56 , Grade E = 35 , Grade F = 46

Print the Numbers of GRade B , grade E .

In [ ]:
# Creating a List

In [ ]:
grade = [50, 35, 40, 56, 35, 46]

# list / array

### Set of values enclosed between Sqaure brackets

accessing the elements of the list

Print only the number of students in Grade B

 ### The Number of Students in Grade B Are 35

The total Number of Students in Grade A, B and C
Output Format :  
 The Total Number of Students in Grade A, B ,C are :

In [ ]:
print ( "The Number of Students in Grade B are" , grade[1])

The Number of Students in Grade B are 35

In [ ]:
count = len(happyGrade)
print("Number of sections in Happy Grade", count)

Number of sections in Happy Grade 15

In [ ]:
happyGrade_before_newAdmission = [45,65,46,53,60,78,51,32,12,18,30,46,45,33,89]

 ### FOR Loops

In [ ]:
index = -1
happyGrade_after_newAdmission = []
for i in happyGrade_before_newAdmission: 
    index = index + 1
    happyGrade_after_newAdmission.append(i+3)

print("before Admission",happyGrade_before_newAdmission)
print("After Admission ", happyGrade_after_newAdmission)

before Admission [45, 65, 46, 53, 60, 78, 51, 32, 12, 18, 30, 46, 45, 33, 89]
After Admission  [48, 68, 49, 56, 63, 81, 54, 35, 15, 21, 33, 49, 48, 36, 92]

In [ ]:
function Count 

count = 0 
index = -1
for i in happyGrade:
    index = index + 1
    count = count + i
    print(count, " Now adding count for ", index)
print(count)

45  Now adding count  2
110  Now adding count  5
156  Now adding count  8
209  Now adding count  11
269  Now adding count  14
347  Now adding count  17
398  Now adding count  20
430  Now adding count  23
442  Now adding count  26
460  Now adding count  29
490  Now adding count  32
536  Now adding count  35
581  Now adding count  38
614  Now adding count  41
706  Now adding count  44
706

In [52]:
beGood =  [ 87, 90, 23, 45, 78 , 109, 23, 45, 78, 90, 96, 97, 100, 78, 150, 98,100,125, 150, 130,150]

In [53]:
beGood.append( 45)

In [ ]:
print(beGood)
count = len(beGood)
beGood.reverse()

[45, 150, 130, 150, 125, 100, 98, 150, 78, 100, 97, 96, 90, 78, 45, 23, 109, 78, 45, 23, 90, 87]

[87,
 90,
 23,
 45,
 78,
 109,
 23,
 45,
 78,
 90,
 96,
 97,
 100,
 78,
 150,
 98,
 100,
 125,
 150,
 130,
 150,
 45]

In [ ]:
print(" The total marks " , )

In [ ]:
len(beGood)

21

The total Marks Scored By 21 students of beGood school is ___?___

1. Add one more Student mark  in beGood School of 147
2. Add grace marks of 5 to all students

# fruits - List of Strings

In [ ]:
fruits = [ "apples", "mangoes", "oranges"]

In [ ]:
# INDEX - 0 based positions in the list
print(fruits[0])

apples

In [ ]:
print(fruits)
fruits[1] = "pear"

['apples', 'mangoes', 'oranges']

In [ ]:
print(fruits)

['apples', 'pear', 'oranges']

In [ ]:
# List are mutable 
#fruits ["apples, mangoes, pear, oranges"]
fruits.insert(1,"mangoes")
fruits

['apples', 'mangoes', 'mangoes', 'pear', 'oranges']

In [ ]:
fruits.remove('mangoes')

ValueError: list.remove(x): x not in list

In [ ]:
fruits

['apples', 'pear', 'oranges']

In [ ]:
# empty list  - has no elements 
fruitSalad= []

In [ ]:
fruitSalad = fruits.copy()

In [ ]:
fruitSalad

['apples', 'pear', 'oranges']

In [ ]:
exoticFruits = ["cashew", "pista"]

In [ ]:
fruitSalad.extend(exoticFruits)

In [ ]:
fruitSalad

['apples', 'pear', 'oranges', 'cashew', 'pista']

Assignment1 : FruitBasket  = ["cashew", "pista","apples", "pear", "oranges"]

In [ ]:
Loops : if-else

In [ ]:
#Wonderla #DisneyWorld #Funworld  #CubbonPark

RIDES - 1. Age Limit  2.Height Limit

Problem Statement 
Rita age = 9 yo 
Raju age = 12 y0
Ram age = 14 yo
Rishabh = 18 yo 
nita = 6 yo 

Bumpy Roller Coaster - you have to be above 10 years of age  : 3 yes 1 No 

Skydrop : you have to be above 15 years
1 yes, 3 no

Ferris wheel : age above 7 years 

4 yes 

trainRide:  all 

if i have a game age 7 to 14 :  Pool games

In [50]:
userage = int(input("Enter your age"))
age = userage
games = ["train", 'Fw','Brc', 'SD','Pg']
gamesAllowed = ["train"]
if age < 7: 
    gamesAllowed.append("train")
elif age > 10 and age < 15: 
    gamesAllowed.extend([ "Ferris Wheel","BRC" , "PG"])
elif  age > 7 and age < 14: 
    gamesAllowed.extend([ "Ferris Wheel", "PG"])
elif age > 15 and age < 50:
    gamesAllowed.extend([ "Ferris Wheel","BRC" ,"SD"])
else: 
    gamesAllowed.append("Park Out")

print(gamesAllowed,"You can play these")

['train', 'Park Out'] You can play these

flowchart :

 License : LL - 16   DL >18 
 LMV >16 HMV >18

Function :

Cbse Class 8 9 10 
subjects 
Science Class 8 
 chapters : Module 
  Function- PHy - Force : Intro - newton - details - Phyic

  Function -BIO - Tissues - animals and human

In [ ]:
Libraries - similar function - prewritten Python - 
libraries related to different task

Operations  of List : 

1. reverse 
2. append 
3. extend - extension of list with another list 
4.

In [60]:
testMarks = [ 50, 90, 30,69]

testMarks 
- range function

range ( 1, 10 )

for i in range ( 1, 10 ): 
    print(i)

Print first 20 numbers

In [ ]:
for i in range ( 1, 21, 1): 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [70]:
for i in range ( 0, 21 , 2): 
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [71]:
for i in range ( 0, 21 , 3): 
    print(i)

0
3
6
9
12
15
18

1. print multiples of 6 using range:

In [72]:
testMarks = [ 50, 90, 30,69]

numbers in python => int

In [73]:
print ( testMarks[1:3])

[90, 30]

In [80]:
print (testMarks[0: 3])
for i in range(0,3): 
    print (i) 
    
    print("Value ", testMarks[i])

[50, 90, 30]
0
Value  50
1
Value  90
2
Value  30

In [81]:
beGood = [45, 150, 130, 150, 125, 100, 98, 150, 78, 100, 97, 96, 90, 78, 45, 23, 109, 78, 45, 23, 90, 87]

In [89]:
for i in range(1, 6): 
    print(beGood[i])
print("########")
for k in beGood[1:6]:
     print(k)

150
130
150
125
100
########
150
130
150
125
100

In [ ]:
# Class f - 6 class , 
for i in range (6,11):
    print(beGood[i])

98
150
78
100
97

In [91]:
# Last five classes : 
print(testMarks)

[50, 90, 30, 69]

-1 + -1 = -2

In [96]:
print(testMarks[-2::-1])

[30, 90, 50]

In [98]:
print(beGood)

[45, 150, 130, 150, 125, 100, 98, 150, 78, 100, 97, 96, 90, 78, 45, 23, 109, 78, 45, 23, 90, 87]

In [99]:
print(beGood[-1:0:-1 ])

[87, 90, 23, 45, 78, 109, 23, 45, 78, 90, 96, 97, 100, 78, 150, 98, 100, 125, 150, 130, 150]

In [102]:
print(beGood[-1:9: -1])

[87, 90, 23, 45, 78, 109, 23, 45, 78, 90, 96, 97]

In [115]:
import random
random.shuffle(testMarks)
print(testMarks)

random.choice(testMarks)

[90, 50, 69, 30]

30

In [116]:
beGood.sort()
beGood

[23,
 23,
 45,
 45,
 45,
 78,
 78,
 78,
 87,
 90,
 90,
 96,
 97,
 98,
 100,
 100,
 109,
 125,
 130,
 150,
 150,
 150]

In [ ]:
House/flat  : 
- Rooms : purpose - take rest - Beds / studytable 
- Living Room- entertain - interact  
- Kitchen - Food 
- Wash room - hygenie - watertaps

In [ ]:
Function - purpose - building blocks 
functions - multiple module - Application 

Swiggy App / 

welcome amit 
welcome tony 


functions - a set of expressions or programme statement -

In [117]:
print ( " This is BeGood School Welcome Here ")

 This is BeGood School Welcome Here

In [122]:
def greet():
   print(" hi ")
   print ( " bye" )

write a function which will print numbers 1 to 10

In [118]:
def sayHeelo():
    print(" Hi")
    print(" Bonjour")

In [127]:
sayHello= " Today is Saturday "

In [132]:
sayHeelo()

 Hi
 Bonjour

In [ ]:
for i in range(0,3): 
    print (i)

In [119]:
sayHeelo()

 Hi
 Bonjour

In [123]:
greet()

 hi
 bye

In [125]:
print("Hello")

Hello

In [126]:
len("books")

5


1. For Loops
2.  if else 
3.  variables 
4. list - list operations ( basic)
5. Input - taking user input using the keyword "input"
6. Functions - builtin functions
    1. Print functions 
    2. Range functions
7.  User defined functions
8. parametrs to function , functions with arguments 
9. random function 
10. while loop .


19 Dec Assignment : 
1.Hurdle 1 of Reeborg.  
2.Password regenerator.

In [17]:
def sumofnum(): 
    print("hello sum of numbers ")
    valA  = 100
    valB = 204
    total = valA + valB
    print("total is ", total )

In [19]:
def sumofnumP(valA, valB): 
    print("hello sum of numbers ")
    total = valA + valB
    print("total is ", total )

In [27]:
def schoolStrength(val): 
    count = 0
    for i in val: 
        count = i+ count 
    print(count, "is the total school strength")

In [25]:
beGood = [45, 150, 130, 150, 125, 100, 98, 150, 78, 100, 97, 96, 90, 78, 45, 23, 109, 78, 45, 23, 90, 87]
reslientEducation = [90, 150, 100, 150, 125, 50, 98, 450, 78, 100, 97, 96, 120]

In [29]:
schoolStrength(beGood)
schoolStrength(reslientEducation)

1987 is the total school strength
1704 is the total school strength

In [21]:
sumofnumP(56, 100)

hello sum of numbers
total is  156

In [ ]:
parameters of functions : values are passed in the function calls

print sum of 100 , 204

In [ ]:
# 1 .GEnerate password: print the generated password that matches the user requested 
#2 . order of characters within the password must be random 
import random
import math
# alphabet - a-z
alpha = ['a','b','c', 'd', 'e', 'f']
# num 1-9
num = ['1','2','4','6']
# all 
charp = ['$','%', '$', '#', '%']


# user input : Ask user to enter the size of password they want to be generated min num 5 chatracter . 
# then generate a random password that coinsists of 2 alphabets 2 signs and 1 number 

countChar = int (input("Enter the size of password you want min is 5 chars "))
print( "you want password of size",countChar,"we will share shortly" )
userpwdCount = 0 
userpassword = [] 
whileloop =0
while userpwdCount < countChar: 
    whileloop +=  1 
    print(whileloop, "is the while loop count")
    
    userpassword.append( random.choice(alpha))
    userpassword.append(random.choice(alpha))
    userpwdCount = userpwdCount+ 2
    userpassword.append(random.choice(num))
    userpwdCount= userpwdCount+1 
    userpassword.append(random.choice(charp))
    userpassword.append(random.choice(charp))
    userpwdCount= userpwdCount+2
    print(userpwdCount)
generatedpassword = ""
for i in userpassword: 
    generatedpassword = generatedpassword+i
print(generatedpassword)

you want password of size 5 we will share shortly
1 is the while loop count
5
bb1#$

In [ ]:

random choice 
random shuffle 
for 
while 
print 
range 

# optional use user defined functions